[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
google-api-python-client = "*"
google = "*"
auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
djangorestframework = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.10"
